<!-- <app-task2
  movieposters="https://miro.medium.com/v2/resize:fit:709/0*NA8wXPcv7kGeW-of.jpg"
  lefts="neethane En Ponvasantam"
  rights="4⭐"
  descriptions="Neethaane En Ponvasantham tells the love story of Varun (Jiiva) and Nithya (Samantha) through three stages of their life; their school days, college life and then in their late twenties. The film was released on 14 December 2012, receiving positive to mixed reviews from critics, before enduring a good run at the box office"
>
</app-task2>
<app-task2
  movieposters="https://m.media-amazon.com/images/M/MV5BNDUzODNkMTYtN2UyMC00OWQ1LWJmMmEtZGFiNjRkZjdmMDE4XkEyXkFqcGdeQXVyMTA3MTI2ODc5._V1_.jpg"
  lefts="DaDa"
  rights="4.5⭐"
  descriptions="Dada (Father) is a 2023 Indian Tamil-language coming-of-age romantic comedy drama film written and directed by Ganesh K. Babu in his directorial debut.[3] It stars Kavin and Aparna Das, while K. Bhagyaraj, Aishwariyaa Bhaskaran, and VTV Ganesh play supporting roles. The music was composed by Jen Martin. The film released theatrically on 10 February 2023, where it received positive reviews from critics and became a commercial success at the box office."
>
</app-task2>

<app-task2
  movieposters="https://m.media-amazon.com/images/M/MV5BMTJjN2NhY2EtYzZkOC00NDQ0LWFhMzEtNWZhYTFhNzNhNjllXkEyXkFqcGdeQXVyMTUyNjIwMDEw._V1_.jpg"
  lefts="Good Night"
  rights="4⭐"
  descriptions="Good Night is a 2023 Indian Tamil-language romantic comedy[1] film written and directed by Vinayak Chandrasekaran in his directorial debut. The film stars Manikandan and Meetha Raghunath in the lead roles with Ramesh Thilak, Raichal Rabecca, Balaji Sakthivel and Bagavathi Perumal portraying supporting roles.[2][3] The film revolves around Mohan, an IT youngster, with a snoring problem and the troubles when the problem affects his life."
>
</app-task2>

<app-task2
  movieposters="https://wallpapercave.com/wp/wp11698134.jpg"
  lefts="Love Today"
  rights="4.5⭐"
  descriptions="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and directed by Pradeep Ranganathan in his second directorial venture after Comali, and produced by Kalapathi S. Aghoram under the banner of AGS Entertainment.[3] Archana Kalpathi is the creative producer for the film. The film stars Pradeep Ranganathan himself (in his acting debut) and Ivana (in her first lead role). Raveena Ravi, Yogi Babu, Sathyaraj and Raadhika Sarathkumar appear in supporting roles.[4] The film's music and score are composed by Yuvan Shankar Raja, with cinematography handled by Dinesh Purushothaman and editing done by Pradeep E. Ragav."
>
</app-task2> -->
<!-- <app-user *ngFor="let pic of profile" [profile]="pic"> </app-user>
<app-user *ngFor="let nm of names" [name]="nm"></app-user> -->
<!-- <app-counter> </app-counter> -->
<app-color-boxcomponent></app-color-boxcomponent>
